#header {
    position: fixed;
}
ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover{
    background-color: aquamarine;
}

body {
    background-color: rgb(59, 59, 59)
}

#corpo {
    margin-left: 150px;
    margin-right: 150px;
}

#destaques {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.principal {
    padding: 4px;
}

.principal img {
    max-width: 400px;
    max-height:300px;
    width: auto;
    height: auto;
}

.secundarios {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;

}
.secundarios img {
    max-width: 260px;
    max-height:225px;
    width: auto;
    height: auto;

}